form#newsign input {
    width: 80%;
    margin: 5px;
    padding: 10px;
}

h1#sl {
    text-align: center;
    width: 100%;
}

ul#signlist {
    width: 100%;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-size: x-large;
    margin-top: 20px;
}
