<ul class="nav nav-pills nav-stacked">
 <li role="presentation"><a href="/">Inicio</a></li>
 <li role="presentation"><a href="/pages/acercade/">Acerca de</a></li>
 <li role="presentation"><a href="/pages/firma-ciudadano/">Firma ciudadano</a></li>
 <li role="presentation"><a href="/pages/firma/">Firma candidato</a></li>
 <li role="presentation"><a href="/pages/teoria/">Teoría</a></li>
 <li role="presentation"><a href="/listsign/">Firmantes</a></li>
 <li role="presentation" class="active"><a href="/sign/">Firmar</a></li>
</ul>
