{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Nueva firma</h1>
<p>Aqui firmamos bla bla bla.</p>
<form id="newsign" method="POST" class="post-form form form-horizontal">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}

    <button class="btn btn-primary btn-block">Firmar</button>
</form>
{% endblock %}
