{% extends "base.html" %}

{% block content %}
<h1 id="sl">Lista de firmas - {{ signs|length }}</h1>
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Partido</th>
        <th>Cargo</th>
        <th>Firmado</th>
    </tr>
    {% for sign in signs %}
        <tr>
            <td>{{ sign.name }} </td>
            <td>{{ sign.surname }} </td>
            <td>{{ sign.party }} </td>
            <td>{{ sign.position }} </td>
            <td>{{ sign.date }} </td>
        </tr>
    {% endfor %}
</table>
<ul id="signlist">
</ul>
{% endblock %}
